body {
    background-image: linear-gradient(to bottom right, #0f87af, #4218B8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(237, 149, 55);
    position: relative;
}

.version{
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}

.outBtn {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #13aa52;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bolder;
}

.downButtons>* {
    margin: 15px 30px;
    height: 80px;
}

.outBtn:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.outBtn:active {
    transform: scale(1.1);
}

.todoName {
    font-size: 64px;
    margin: 15px 0;
    color: rgba(43, 41, 41, 0);
    font-weight: bolder;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

#myText {
    padding: 15px 10px 5px 30px;
    width: 80%;
    height: 75%;
    box-shadow: 2px 2px 4px rgba(43, 41, 41, 0.991);
    font-size: 42px;
    font-weight: bold;
    color: rgb(92, 54, 178);
    border: hidden;
    outline: none;
    border-radius: 8px;
    background-color: rgba(198, 198, 198, 0.8);
    background-image: linear-gradient(to bottom right, #d3d0cd, #deb089);
    text-decoration: none !important;
    caret-color: rgb(0, 0, 0);
}

#myText::placeholder {
    color: rgba(92, 54, 178, 0.7);
}

#addBtn {
    height: 100%;
    width: 15%;
    background-image: linear-gradient(to bottom right, #6a00ec, #d036fb);
}

button {
    cursor: pointer;
}

.checkedItem {
    text-decoration: line-through;
    color: rgb(26, 249, 26);
    opacity: 0.4;
    box-shadow: inset 2px 2px 4px rgb(0, 0, 0) !important;
}

#myList {
    background-color: rgba(43, 41, 41, 0);
    list-style: none;
    width: 90vw;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
}

#myList li {
    font-size: 48px;
    border-radius: 44px 0 0 44px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 5px 5px 30px;
    margin: 15px 0;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    width: 97%;
    height: 60px;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#myList li:hover {
    transform: translateY(5%);
    box-shadow: inset 2px 2px 4px black;
}

.deleteIcon img {
    height: 40px;
    width: 40px;
}

#deleteAll {
    background-image: linear-gradient(to bottom right, #FF512F, #DD2476);
}

#checkAll {
    background-image: linear-gradient(to bottom right, #0d9f89, #3bbf39);
}

#myList span {
    margin-right: 15px;
}

#myList img {
    height: 40px;
    width: 40px;
    margin: 15px;
    margin-left: auto;
    padding: 12px 20px;
    cursor: pointer;
    user-select: none;
}

#myList img:hover {
    transition: all 0.2s;
    transform: scale(1.3);
}

#myForm>* {
    margin: 15px 15px;
}

#myForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 80px;
    width: 90vw;
}

.hidden {
    display: none;
}


@media (hover: none) {
    #myForm {
        height: 420px;
        flex-direction: column;
    }

    #myText {
        font-size: 96px;
        height: 180px;
    }

    #addBtn {
        height: 180px;
        font-size: 96px;
        width: auto;
    }

    .todoName {
        font-size: 96px;
        font-weight: 300;
    }

    #myList {
        padding: 0;
    }

    #myList li {
        height: 240px;
        font-size: 96px;
        box-shadow: 4px 4px 8px rgb(0, 0, 0);
    }

    #myList img {
        height: 120px;
        width: 120px;
        padding: 50px 30px;
    }

    .checkedItem {
        text-decoration: line-through;
        color: rgb(26, 249, 26);
        opacity: 0.4;
        box-shadow: inset 4px 4px 8px rgb(0, 0, 0) !important;
    }

    .downButtons>* {
        margin: 60px 30px;
        height: 160px;
        width: 100%;
        font-size: 96px;
    }

    .downButtons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #myList li:hover {
        transform: translateY(0);
        box-shadow: 4px 4px 8px rgb(0, 0, 0);
    }

    .outBtn {
        border-radius: 16px;
        border: 1px solid black;
    }

    .outBtn:hover {
        box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
        transform: translateY(0);
    }

    .outBtn:active {
        transform: scale(1);
    }
}